/*
Theme Name: [WP] Starter
Text Domain: wp-starter
Description: [WP] Starter is a custom framework developed by Shambix.
Author: Shambix
Author URI: http://www.shambix.com
Version: 2.5
*/

/* IMG */
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; 
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto;
}
img.size-large, img.size-full {
	width:100%;
}
img {
	height: auto;
}
p iframe, p video {
	width:100%;
	max-width: 100%;
}
.alignleft {
	float: left;
	padding-left: 0;
}
img.alignleft{
	margin: 0 30px 0 0;
}
.alignright {
	float: right;
	padding-right: 0;
}
img.alignright {
	margin: 0 0 0 30px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Login Page Credits */
#shambix_credits {
	margin: auto;
    padding: 8% 0 0;
    width: 320px;
}